@font-face {
    font-family: 'AdorshoLipi';
    src: url('https://icebear65.github.io/banglafont/fonts/AdorshoLipi.woff2') format('woff2'),
         url('https://icebear65.github.io/banglafont/fonts/AdorshoLipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
